<head>
<title>Six Pillars</title>
<link href='http://fonts.googleapis.com/css?family=Handlee|Share' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/pillars.css" />
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

{{#if url}}
    <script src={{url}}></script>
{{/if}}

</head>