<!doctype html>
<html>
{{>header}}
<body>
{{>navigation}}
{{#if url}}
	<div class="container">
		{{#each pillars }}
		    {{>block}}
		{{/each}}
	</div>
{{else}}
	<div class="container">
			<div class="row">
			{{#each pillars }}
				{{#compare @index "==" 3}}
				 </div>
				 <div class="row">
				{{/compare}}
				<div class="col-md-4">
			    	{{>css-block}}
			    </div>
				
			{{/each}}
		</div>
	</div>
{{/if}}
</body>
</html>
